 /* Definir la fuente y el color de fondo de la pagina*/
body{
    font-family:'Verdana', 'Arial Narrow', Arial, sans-serif;
    background-color:   rgb(194, 191, 15);
}

/*Definir el estilo de encabezado*/
header{
overflow: hidden;
width: 890px;
margin: 10px auto 5px auto;
  
}

header #banne{
    width: 100%;
    height: 250px;
}

header #banner figure #imgbaner{
   overflow: hidden;
   width: 100%;
   height: 200px;
   background: url(Img/imgbaner.png);
   border-radius: 10px;
}

header h1{
color: rgb(105, 114, 22);

}

nav{
  /* Definir el estilo del menu de navegacion*/
   background-color:#eff0ef;
    padding: 15px;
}

nav ul {
list-style-type: style type square;
margin:0;
padding:0;
display:flex;
justify-content:space-evenly;
}

nav li{
margin:0 10;
}

nav a{
color:rgb(216, 62, 15)
tex-decoration none;
font-weight:bold;
}
nav a:hover{
color:rgb(21, 136, 71);
background-color:#e9d30e;
}
section{
  width: 100%;
overflow: hidden;
background: rgb(212, 235, 5);
}

section #INFO{
overflow: hidden;
width: 800px;
margin: 0px auto 5px auto;

}

section #info aside{
overflow: left;
width: 220px;

}

section #info aside{

   padding: 0px 0px 20px 0px;
   color: black;
   letter-spacing: -1px;
   font-size: 1.5em;
  
}
section #info aside h2{

  padding: 0px 0px 20px 0px;
  color: rgb(7, 7, 7);
  letter-spacing: -1px;
  font-size: 30px;

}

section #info aside ul li{
 
    list-style: none; 
  padding: 10px 0px;
  border-top: 1px dashed #06060a;
  
}

section #info aside ul li a{

text-decoration: none;
color: #0a0557;
font-size: 16px;

}

/*Definir los estilos de los enlaces*/
a{
color:rgb(12, 17, 20);
tex-decoration:none;
}
a:hover{
    text-decoration:rgb(225, 65, 204);
}
